@using Reconcile.Domain.Services

@page "/"

<MatH4>
    Welcome to the Bank Statement Reconciler System (BSRS)
</MatH4>


<MatH5>
    Below you can select the files you want to reconcile.
    When All the files are entered press finished to generate all the Bank Transactions
</MatH5>



<MatFileUpload OnChange="@MultipleFilesReady" AllowMultiple="true" Label="Drop files here or Browse" />

<MatTable Items="@multiplelist" class="mat-elevation-z5"
          ShowPaging="false" h>
    <MatTableHeader>
        <th>File</th>
        <th>Action</th>
    </MatTableHeader>
    <MatTableRow>
        <td width="100%">@context.Item1</td>
        <td width="20%"><MatButton Icon="delete_forever" OnClick="@RemoveOnClick" /></td>
    </MatTableRow>
</MatTable>

<MatButton Raised="true" OnClick="@ReconcileTransactions">Reconcile OFXs Files</MatButton>




@code
{
    List<(string, IMatFileUploadEntry)> multiplelist = new List<(string, IMatFileUploadEntry)>();

    void MultipleFilesReady(IMatFileUploadEntry[] files)
    {
        foreach (var file in files)
        {
            multiplelist.Add(($"Name: {file.Name} - Size: {file.Size}", file));
        }
    }

    public void RemoveOnClick(MouseEventArgs e)
    {
        //e.
    }

    public void ReconcileTransactions(MouseEventArgs e)
    {

    }
}